@{
    ViewData["Title"] = "컴퓨터 쇼핑몰";
}

<div class="container-fluid">
    <div class="bg d-flex align-items-center justify-content-center">
        <span class="text-white display-1 d-flex align-items-center justify-content-center">컴퓨터 쇼핑몰 </span>

    </div>
</div>
