@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "관리자 페이지";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-image: url(../images/Admin_Mainpage.jpg);
        background-size: cover; /* 이미지를 화면 전체에 늘립니다 */
        background-position: center center; /* 이미지를 중앙에 정렬합니다 */
        background-attachment: fixed; /* 스크롤 시 이미지를 고정시킵니다 */
        background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정합니다 */
    }

</style>
<body>
    <div class="container-fluid cont bg_admin">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="text-center text-white">
                <div class="display-1">어드민 메인 페이지</div>
            </div>
    </div>
</body>
