<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>
                    등록할 부품을 선택해주세요
                </td>
                <td>
                    메인보드
                </td>
                <td>
                    CPU
                </td>
                <td>
                    그래픽카드
                </td>
                <td>
                    케이스
                </td>
                <td>
                    HDD
                </td>
                <td>
                    SSD
                </td>
                <td>
                    RAM
                </td>
            </tr>
        </table>
    </div>
</body>
</html>