@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - capstone</title>
    <sctip>


        @*
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
        @*<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
        @*  <script src="/static/js/bootstrap.bundle.js"></script>*@
        @*부트스트랩 관련*@
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        *@




        <!-- Custom CSS -->
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/capstone.styles.css" asp-append-version="true" />
        <!-- End of Custom CSS-->
        <!-- Local Libraries -->
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <!-- Jquery -->
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <!-- End of Local Libraries -->
        <!-- JavaScript -->
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- JQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <!-- Bootstrap Libraries -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <!-- End of Bootstrap Libraries -->
    </sctip>
</head>
<body>
    <div class="b-example-divider"></div>

    <nav class="py-2 bg-light border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a class="nav-link link-dark px-2 active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo_layout_long.png" width="auto" height="45" /></a></li>
            </ul>
            <ul class="nav">
                
                @if (Accessor.HttpContext.Session.GetString("userid")==null)
                {
                    <li class="nav-item"><a class="nav-link link-dark px-2 btn btn-primary m-1" asp-area="" asp-controller="Member" asp-action="Login"><i class="bi bi-unlock"></i> 로그인</a></li>
                    <li class="nav-item"><a class="nav-link link-dark px-2 btn btn-outline-primary m-1" asp-area="" asp-controller="Member" asp-action="Registor"><i class="bi bi-key"></i> 회원가입</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link link-dark px-2 btn btn-primary m-1" asp-area="" asp-controller="Member" asp-action="Index"><i class="bi bi-person-fill"></i> 마이페이지</a></li>
                    <li class="nav-item"><a class="nav-link link-dark px-2 btn btn-outline-primary m-1" asp-area="" asp-action="Logout" asp-controller="Member"><i class="bi bi-box-arrow-right"></i> 로그아웃</a></li>
                }
            </ul>
        </div>
    </nav>
   
        <header class="py-3 mb-3 border-bottom">
            <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;width: 1200px;">
            
                @*부트스트랩을 이용한 드롭다운 리스트*@
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    카테고리
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    @*폼 태그를 이용한 정보 컨트롤러로 보내기*@
                    <form asp-controller="Product" asp-action="CategoryList" method="get">
                        <button class="dropdown-item" type="submit" name="category" value="CPU">CPU</button>
                        <button class="dropdown-item" type="submit" name="category" value="VGA">VGA</button>
                        <button class="dropdown-item" type="submit" name="category" value="mainboard">메인보드</button>
                    </form>
                </div>
            </div>
                @*이전방식 드롭다운 리스트*@
                @*<div class="dropdown">
                <a class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" 
                asp-area="" asp-controller="Product" asp-action="CategoryList">
                    카테고리별 보기
                </a>
                <select id="categoryDropdown" class="form-control dropdown-menu text-small shadow">
                    <option value="CPU">CPU</option>
                    <option value="그래픽카드">그래픽카드</option>
                    <option value="메인보드">메인보드</option>
                    <option value="RAM">RAM</option>
                    <option value="HDD">HDD</option>
                    <option value="SSD">SSD</option>
                    <option value="케이스">케이스</option>
                    @*<li><a class="dropdown-item" href="#">CPU</a></li>
                    <li><a class="dropdown-item" href="#">그래픽카드</a></li>
                    <li><a class="dropdown-item" href="#">메인보드</a></li>
                    <li><a class="dropdown-item" href="#">RAM</a></li>
                    <li><a class="dropdown-item" href="#">HDD</a></li>
                    <li><a class="dropdown-item" href="#">SSD</a></li>
                    <li><a class="dropdown-item" href="#">케이스</a></li>
                </select>
            </div>*@
            <div style="text-align: right;">
                <form role="search" asp-area="" asp-controller="Product" asp-action="Search">
                    <div style="display: inline-block;">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" style="width: 400px;">
                    </div>
                    <div style="display: inline-block;">
                        <button type="button" class="btn btn-primary">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted"> 하단 레이아웃임
    </footer>*@
    
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
