@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Member

<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>

           
            <form asp-action="RegistorProc" asp-controller="Member">
                <div class="mb-3">
                    <label>아이디</label>
                    <input type="text" class="form-control" asp-for="userid" required>
                    <div class="invalid-feedback">
                        아이디를 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label>비밀번호</label>
                    <input type="text" class="form-control" asp-for="userpw" required>
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label>이름</label>
                    <input type="text" class="form-control" asp-for="name" required>
                    <div class="invalid-feedback">
                        이름을 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label>닉네임</label>
                    <input type="text" class="form-control" asp-for="nickname" placeholder="" required>
                    <div class="invalid-feedback">
                        닉네임을 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label>이메일</label>
                    <input type="email" class="form-control" asp-for="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        이메일을 입력해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label>핸드폰 번호</label>
                    <input type="text" class="form-control" asp-for="phone" placeholder="010-0000-1111" required>
                    <div class="invalid-feedback">
                        핸드폰번호를 입력해주세요.
                    </div>
                </div>
                <hr class="mb-4">
                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
            </form>
        </div>
    </div>
</div>